:root {
  /* Text-size styles */
  --headline-1: 12rem;
  --headline-2: 7.5rem;
  --headline-3: 6rem;
  --headline-4: 4.25rem;
  --headline-5: 3rem;
  --headline-6: 2.5rem;
  --subtitle-1: 2rem;
  --subtitle-2: 1.75rem;
  --body-1: 2rem;
  --body-2: 1.75rem;
  --button: 1.75rem;
  --caption: 1.5rem;
  --overline: 1.25rem;
  --baseline: 1rem;

  /* Transition */
  --ease-function: cubic-bezier(0.25, 0.8, 0.25, 1);

  /* Radius */
  --rounded: 0.5rem;

  /* Theme */

  --primary-900: #23036a;
  --primary-800: #30009c;
  --primary-700: #3700b3;
  --primary-600: #5600e8;
  --primary-500: #6200ee;
  --primary-400: #7f39fb;
  --primary-300: #985eff;
  --primary-200: #bb86fc;
  --primary-100: #dbb2ff;
  --primary-50: #f2e7fe;
  --secondary-900: #005457;
  --secondary-800: #017374;
  --secondary-700: #018786;
  --secondary-600: #019592;
  --secondary-500: #01a299;
  --secondary-400: #00b3a6;
  --secondary-300: #00c4b4;
  --secondary-200: #03dac5;
  --secondary-100: #70efde;
  --secondary-50: #c8fff4;

  --on-primary-high-emphasis: #ffffff;
  --on-primary-medium-emphasis: #ffffff;
  --on-primary-disabled: #ffffff;

  --on-secondary-high-emphasis: #000000;
  --on-secondary-medium-emphasis: #000000;
  --on-secondary-disabled: #000000;

  /* Shadow */
  --shadow-00dp: none;
  --shadow-01dp: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  --shadow-02dp: 0px 2px 2px rgba(0, 0, 0, 0.14),
    0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  --shadow-03dp: 0px 3px 4px rgba(0, 0, 0, 0.14),
    0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
  --shadow-04dp: 0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-06dp: 0px 6px 10px rgba(0, 0, 0, 0.14),
    0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --shadow-08dp: 0px 8px 10px rgba(0, 0, 0, 0.14),
    0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
  --shadow-09dp: 0px 9px 12px rgba(0, 0, 0, 0.14),
    0px 3px 16px rgba(0, 0, 0, 0.12), 0px 5px 6px rgba(0, 0, 0, 0.2);
  --shadow-12dp: 0px 12px 17px rgba(0, 0, 0, 0.14),
    0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);
  --shadow-16dp: 0px 16px 24px rgba(0, 0, 0, 0.14),
    0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  --shadow-24dp: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}
