server {
    listen 80;
    listen [::]:80;
    server_tokens off;
    server_name $VUE_APP_AVATAR_HOST;
    keepalive_timeout 5;

    location / {
        include /etc/nginx/conf.d/secure-headers;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_buffering off;
        proxy_pass http://avatar:3000;
    }
}
