# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
add_header Referrer-Policy "no-referrer" always;
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options
add_header X-Content-Type-Options "nosniff" always;
#  https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy
add_header Content-Security-Policy "default-src 'none'; font-src $VUE_APP_HOST; style-src $VUE_APP_HOST; script-src $VUE_APP_HOST; manifest-src $VUE_APP_HOST; prefetch-src $VUE_APP_HOST; worker-src $VUE_APP_HOST; connect-src $VUE_APP_HOST $VUE_APP_API_HOST; img-src *; media-src *; frame-ancestors 'none'; base-uri 'none'; form-action 'none'" always;
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
add_header X-Frame-Options "DENY" always;
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection
add_header X-XSS-Protection "1; mode=block" always;

# https://developer.mozilla.org/en-US/docs/Web/HTTP/Feature_Policy
add_header Feature-Policy "geolocation 'none';midi 'none'; sync-xhr 'none';microphone 'none';camera 'none';magnetometer 'none';gyroscope 'none';fullscreen 'self';payment 'none'" always;
add_header Permissions-Policy "geolocation=();midi=();notifications=();push=();sync-xhr=();microphone=();camera=();magnetometer=();gyroscope=();speaker=(self);vibrate=();fullscreen=(self);payment=();" always;

# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security
add_header Strict-Transport-Security "max-age=$HSTS_MAX_AGE; includeSubDomains; preload" always;

