.post-body .md,
.comment-body .md {
  h1,
  h2,
  h3,
  h5,
  h5,
  h6 {
    margin: 2rem 0;
    line-height: 1;
  }

  hr {
    margin: 1rem 0;
  }

  max-width: 100%;

  pre {
    padding: 0.5rem;
    max-width: 53rem;
    overflow: auto;

    @media (max-width: 800px) {
      max-width: 95vw;
    }
  }

  code {
    padding: 0;
  }
}

.theme--dark {
  .post-body .md,
  .comment-body .md {
    pre {
      background-color: rgba(255, 255, 255, 0.1);
    }

    code {
      background: none;
    }
  }
}

.theme--light {
  .post-body .md,
  .comment-body .md {
    pre {
      background-color: rgba(0, 0, 0, 0.05);
    }

    code {
      background: none;
    }
  }
}
