.post-body .md,
.comment-body .md {
  h1,
  h2,
  h3,
  h5,
  h5,
  h6 {
    margin: 1rem 0;
    line-height: 1;
  }

  hr {
    margin: 1rem 0;
  }

  max-width: 100%;

  pre {
    padding: 0.5rem;
    max-width: 53rem;
    overflow: auto;

    @media (max-width: 800px) {
      max-width: 95vw;
    }
  }

  code {
    padding: 0;
  }

  .md-spoiler-text {
    cursor: pointer;
    user-select: none;
    color: transparent;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  }

  .md-spoiler-text.show {
    color: inherit;
    user-select: auto;
    background-color: transparent !important;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0.5rem;
    border: 1px solid var(--v-secondary-lighten3);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  blockquote {
    padding-inline-start: 0.5rem;
    border-inline-start: 4px solid var(--v-secondary-lighten1);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}

.theme--dark {
  .post-body .md,
  .comment-body .md {
    pre {
      background-color: rgba(255, 255, 255, 0.1);
    }

    code {
      background: none;
    }

    .md-spoiler-text {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.theme--light {
  .post-body .md,
  .comment-body .md {
    pre {
      background-color: rgba(0, 0, 0, 0.05);
    }

    code {
      background: none;
    }

    .md-spoiler-text {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
