.v-navigation-drawer__content {
  overflow: auto;

  /* Webkit */

  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    background: transparent !important;
  }

  /* Firefox */
  scrollbar-width: none !important;
  /* MS */
  -ms-overflow-style: none !important;
}

.hidden-scroll {
  overflow: auto;

  /* Webkit */

  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    background: transparent !important;
  }

  /* Firefox */
  scrollbar-width: none !important;
  /* MS */
  -ms-overflow-style: none !important;
}

.normal-scroll {
  overflow: auto;
}

.load-more-trigger {
  position: relative;
  margin-bottom: 30rem;
}
