html {
  font-size: 8px;
  font-family: "Rubik", sans-serif;

  @media (min-width: @breakpoint-xxxl) {
    font-size: 16px;
  }
}

#app {
  color: var(--on-surface-high-emphasis);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.normal,
label,
#app {
  font-size: var(--body-2);
  font-weight: 400;
  line-height: 1.43;
}

h1 {
  font-size: var(--headline-1);
  line-height: 1.17;
  font-weight: 300;
}

h2 {
  font-size: var(--headline-2);
  line-height: 1.2;
  font-weight: 300;
}

h3 {
  font-size: var(--headline-3);
  line-height: 1.17;
  font-weight: 400;
}

h4 {
  font-size: var(--headline-4);
  line-height: 1.06;
  font-weight: 400;
}

h5 {
  font-size: var(--headline-5);
  line-height: 1;
  font-weight: 400;
}

h6 {
  font-size: var(--headline-6);
  line-height: 1.2;
  font-weight: 400;
}

.subtitle-1 {
  font-size: var(--subtitle-1);
  font-weight: 400;
  line-height: 1.6;
}

.subtitle-2 {
  font-size: var(--subtitle-2);
  font-weight: 500;
  line-height: 1.71;
}

.large {
  font-size: var(--body-1);
  line-height: 1.5;
}

button,
.button {
  font-size: var(--button);
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 500;
}

.caption,
.small {
  font-size: var(--caption);
  font-weight: 400;
  line-height: 1.33;
}

.overline {
  font-size: var(--overline);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.6;
}

.muted {
  color: var(--on-surface-medium-emphasis);
}
